USE [master]
GO
/****** Object:  Database [StockS_DB]    Script Date: 3/11/2023 1:45:03 AM ******/
CREATE DATABASE [StockS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StockS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StockS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockS_DB]
GO
/****** Object:  Table [dbo].[BoughtItem]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoughtItem](
	[Item] [int] NOT NULL,
	[Conclusion] [int] NOT NULL,
	[Quantity] [int] NULL,
	[PurchesePrice] [float] NULL,
 CONSTRAINT [PK_BoughtItem] PRIMARY KEY CLUSTERED 
(
	[Item] ASC,
	[Conclusion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[OIB] [char](11) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[OIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conclusion]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conclusion](
	[ConclusionID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Worker] [char](11) NOT NULL,
 CONSTRAINT [PK_Conclusion] PRIMARY KEY CLUSTERED 
(
	[ConclusionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[FunctionID] [int] IDENTITY(1,1) NOT NULL,
	[AccessLvl] [int] NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Worker] [char](11) NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Unit] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Company] [char](11) NOT NULL,
 CONSTRAINT [PK_Item_1] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceHistory]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistory](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Price] [float] NOT NULL,
	[Item] [int] NOT NULL,
 CONSTRAINT [PK_PriceHistory] PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuantityHistory]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuantityHistory](
	[ItemID] [int] NOT NULL,
	[InventoryID] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_QuantityHistory] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[Receipt] [int] IDENTITY(1,1) NOT NULL,
	[Company] [char](11) NOT NULL,
	[Worker] [char](11) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[Receipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[Start] [time](7) NOT NULL,
	[Finish] [time](7) NOT NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldItem]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldItem](
	[Item] [int] NOT NULL,
	[Conclusion] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SoldItem] PRIMARY KEY CLUSTERED 
(
	[Item] ASC,
	[Conclusion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[OIB] [char](11) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Telephone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[OIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOff]    Script Date: 3/11/2023 1:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOff](
	[WriteOffID] [int] IDENTITY(1,1) NOT NULL,
	[Item] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Note] [text] NOT NULL,
	[Worker] [char](11) NOT NULL,
 CONSTRAINT [PK_WriteOff] PRIMARY KEY CLUSTERED 
(
	[WriteOffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BoughtItem]  WITH CHECK ADD  CONSTRAINT [FK_BoughtItem_Conclusion] FOREIGN KEY([Conclusion])
REFERENCES [dbo].[Conclusion] ([ConclusionID])
GO
ALTER TABLE [dbo].[BoughtItem] CHECK CONSTRAINT [FK_BoughtItem_Conclusion]
GO
ALTER TABLE [dbo].[BoughtItem]  WITH CHECK ADD  CONSTRAINT [FK_BoughtItem_Item] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[BoughtItem] CHECK CONSTRAINT [FK_BoughtItem_Item]
GO
ALTER TABLE [dbo].[Conclusion]  WITH CHECK ADD  CONSTRAINT [FK_Conclusion_Conclusion] FOREIGN KEY([Worker])
REFERENCES [dbo].[User] ([OIB])
GO
ALTER TABLE [dbo].[Conclusion] CHECK CONSTRAINT [FK_Conclusion_Conclusion]
GO
ALTER TABLE [dbo].[Function]  WITH CHECK ADD  CONSTRAINT [FK_Function_Role] FOREIGN KEY([AccessLvl])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Function] CHECK CONSTRAINT [FK_Function_Role]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_User] FOREIGN KEY([Worker])
REFERENCES [dbo].[User] ([OIB])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_User]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([OIB])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Company]
GO
ALTER TABLE [dbo].[PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Item] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[PriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Item]
GO
ALTER TABLE [dbo].[QuantityHistory]  WITH CHECK ADD  CONSTRAINT [FK_QuantityHistory_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[QuantityHistory] CHECK CONSTRAINT [FK_QuantityHistory_Inventory]
GO
ALTER TABLE [dbo].[QuantityHistory]  WITH CHECK ADD  CONSTRAINT [FK_QuantityHistory_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[QuantityHistory] CHECK CONSTRAINT [FK_QuantityHistory_Item]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([OIB])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Company]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_User] FOREIGN KEY([Worker])
REFERENCES [dbo].[User] ([OIB])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_User]
GO
ALTER TABLE [dbo].[SoldItem]  WITH CHECK ADD  CONSTRAINT [FK_SoldItem_Conclusion] FOREIGN KEY([Conclusion])
REFERENCES [dbo].[Conclusion] ([ConclusionID])
GO
ALTER TABLE [dbo].[SoldItem] CHECK CONSTRAINT [FK_SoldItem_Conclusion]
GO
ALTER TABLE [dbo].[SoldItem]  WITH CHECK ADD  CONSTRAINT [FK_SoldItem_Item] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[SoldItem] CHECK CONSTRAINT [FK_SoldItem_Item]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[WriteOff]  WITH CHECK ADD  CONSTRAINT [FK_WriteOff_Item] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[WriteOff] CHECK CONSTRAINT [FK_WriteOff_Item]
GO
ALTER TABLE [dbo].[WriteOff]  WITH CHECK ADD  CONSTRAINT [FK_WriteOff_WriteOff] FOREIGN KEY([Worker])
REFERENCES [dbo].[User] ([OIB])
GO
ALTER TABLE [dbo].[WriteOff] CHECK CONSTRAINT [FK_WriteOff_WriteOff]
GO
USE [master]
GO
